.App {
  text-align: center;
}

.page-layout {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 40px);
  background-color: #e1e7fb;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #d8e8f6, #ffffff);
  color: #1976d2;
}

.contact-info {
  color: #1976d2;
}